<nav>
    <ul class="nav justify-content-center">
      <a class="nav-link" href="/productos"><li class="nav-item" >Productos</li></a>
      <a class="nav-link"href="/"><li class="nav-item">Agregar un producto</li></a>
    </ul>
</nav>